*{
  margin: auto;
  padding: 0px;
}

body{
  width: 80%;
  border: 4px solid black;
}


header h3{
text-align: center;
border: 1px solid;
}

.container{
  width: 80%;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 30px;
  border-bottom: 2px solid black;
}

.container button{
  margin-bottom: 20px;
  box-shadow: 2px 2px black;
}

footer{
  background-color: lightgray;
  height: 25px;
  border-top: 4px solid black;
}